In [1]:
#importing libraries
import stockLibraries.getStockFinancialDetails as sl
import stockLibraries.getDividendDetails as dl
import stockLibraries.wacc_dividendModel as wacc
import pandas as pd

Add the NSE tickr or BSE ID in the variable

In [2]:
#give the nse ticker id
nse_ticker = "COALINDIA"

#give the current share price
current_share_price = 126.30

In [3]:
abbv01 , abbv02 = sl.extract_stock_data(nse_ticker)

Retrieving stock data from money control https://www.moneycontrol.com/mccode/common/autosuggestion_solr.php?classic=true&query=COALINDIA&type=1&format=json
Information fetched:
{'link_src': 'https://www.moneycontrol.com/india/stockpricequote/miningminerals/coalindia/CI11', 'link_track': 'http://arjun.in.com/dashboard/api/profilingSuggestions.php?id=CI29&type=stock', 'pdt_dis_nm': 'Coal India&nbsp;<span>INE522F01014, COALINDIA, 533278</span>', 'sc_id': 'CI29', 'stock_name': 'Coal India', 'sc_sector_id': 'MM', 'sc_sector': 'Metals & Mining'}

## Extract the 3 financial sheets as dataframe

In [4]:
balance_sheet_df = sl.get_financial_sheet(abbv01,abbv02,sl.FINANCIALS.BALANCESHEET)

The url being used to fetch the financial data https://www.moneycontrol.com/financials/coalindia/consolidated-balance-sheetVI/CI11#CI11

In [5]:
balance_sheet_df

Balance Sheet of Coal India (in Rs. Cr.),Mar 20,Mar 19,Mar 18,Mar 17,Mar 16
0,,,,,
EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN
SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN
Equity Share Capital,6162.73,6162.73,6207.41,6207.41,6316.36
Total Share Capital,6162.73,6162.73,6207.41,6207.41,6316.36
Reserves and Surplus,25994.19,20291.19,13639.16,18310.68,28516.80
Total Reserves and Surplus,25994.19,20291.19,13639.16,18310.68,28516.80
Total Shareholders Funds,32156.92,26453.92,19846.57,24518.09,34833.16
Minority Interest,394.08,406.78,362.45,345.92,104.78
NON-CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN
Long Term Borrowings,1993.38,1472.27,1054.40,294.80,263.06
Deferred Tax Liabilities [Net],0.00,0.00,0.00,0.00,0.00
Other Long Term Liabilities,6786.87,6154.12,5530.13,4862.47,4730.33
Long Term Provisions,60226.60,52419.56,49903.10,43778.11,41542.71
Total Non-Current Liabilities,69006.85,60045.95,56487.63,48935.38,46536.10
CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN
Short Term Borrowings,4432.61,730.47,476.54,2712.97,929.03
Trade Payables,10107.55,6815.51,4516.93,3884.31,3297.15
Other Current Liabilities,27133.23,31129.76,30988.02,26272.04,19080.15
Short Term Provisions,6790.27,7136.44,14813.59,11146.51,8047.83
Total Current Liabilities,48463.66,45812.18,50795.08,44015.83,31354.16
Total Capital And Liabilities,150021.51,132718.83,127491.73,117815.22,112828.20
ASSETS,NaN,NaN,NaN,NaN,NaN
NON-CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN
Tangible Assets,32302.35,28539.06,24063.30,22035.99,20662.55
Intangible Assets,38.14,35.18,29.53,57.65,68.81
Capital Work-In-Progress,8271.09,9622.94,10286.42,8585.22,4553.22
Fixed Assets,45111.86,42272.59,37863.83,32396.59,26635.71
Non-Current Investments,1873.17,1421.01,1303.06,969.39,966.11
Deferred Tax Assets [Net],3310.97,4269.16,5355.05,2732.76,2044.54
Long Term Loans And Advances,638.59,1141.73,1020.08,23.29,80.60
Other Non-Current Assets,15574.76,14294.68,13135.43,11773.28,10774.72
Total Non-Current Assets,66509.35,63399.17,58677.45,47895.31,40501.68
CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN
Current Investments,99.70,1749.96,205.57,513.47,1939.96
Inventories,6618.94,5583.93,6443.85,8945.27,7569.17
Trade Receivables,14408.22,5498.55,8689.16,12476.27,11447.61
Cash And Cash Equivalents,28446.83,31124.23,31475.07,31149.19,38014.91
Short Term Loans And Advances,502.65,502.33,3.69,12.48,21.80
OtherCurrentAssets,33435.82,24860.66,21996.94,16823.23,13333.07
Total Current Assets,83512.16,69319.66,68814.28,69919.91,72326.52
Total Assets,150021.51,132718.83,127491.73,117815.22,112828.20
OTHER ADDITIONAL INFORMATION,NaN,NaN,NaN,NaN,NaN
"CONTINGENT LIABILITIES, COMMITMENTS",NaN,NaN,NaN,NaN,NaN
Contingent Liabilities,157065.02,130134.02,49387.85,76876.30,62106.76
BONUS DETAILS,NaN,NaN,NaN,NaN,NaN
Bonus Equity Share Capital,0.00,0.00,0.00,0.00,0.00
NON-CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN
Non-Current Investments Quoted Market Value,986.85,997.24,993.40,995.19,993.69
Non-Current Investments Unquoted Book Value,914.47,462.31,344.36,10.69,7.41
CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN
Current Investments Quoted Market Value,99.70,1749.96,0.00,0.00,0.00
Current Investments Unquoted Book Value,0.00,0.00,205.57,513.47,1939.96

In [6]:
cashflow_df = sl.get_financial_sheet(abbv01,abbv02,sl.FINANCIALS.CASHFLOW)

The url being used to fetch the financial data https://www.moneycontrol.com/financials/coalindia/consolidated-cash-flowVI/CI11#CI11

In [7]:
cashflow_df

Cash Flow of Coal India (in Rs. Cr.),Mar 20,Mar 19,Mar 18,Mar 17,Mar 16
0,,,,,
Net Profit/Loss Before Extraordinary Items And Tax,24072.49,27125.46,11004.29,14444.81,21438.69
Net CashFlow From Operating Activities,4146.54,16695.46,21262.34,16460.84,13153.77
Net Cash Used In Investing Activities,332.41,-8265.84,-7676.28,454.64,8154.09
Net Cash Used From Financing Activities,-6950.16,-10151.58,-13587.30,-17597.97,-19587.35
Foreign Exchange Gains / Losses,0.00,0.00,0.00,0.00,0.00
Adjustments On Amalgamation Merger Demerger Others,0.00,0.00,0.00,0.00,0.00
Net Inc/Dec In Cash And Cash Equivalents,-2471.21,-1721.96,-1.24,-682.49,1720.51
Cash And Cash Equivalents Begin of Year,1571.89,3997.67,4193.91,4876.40,3155.89
Cash And Cash Equivalents End Of Year,-899.32,2275.71,4192.67,4193.91,4876.40

In [8]:
profitloss_df = sl.get_financial_sheet(abbv01,abbv02,sl.FINANCIALS.INCOMESTATEMENT)

The url being used to fetch the financial data https://www.moneycontrol.com/financials/coalindia/consolidated-profit-lossVI/CI11#CI11

In [9]:
profitloss_df

Profit & Loss account of Coal India (in Rs. Cr.),Mar 20,Mar 19,Mar 18,Mar 17,Mar 16
0,,,,,
INCOME,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Gross],134979.13,140603.00,127162.17,122286.96,108147.54
Less: Excise/Sevice Tax/Other Levies,45605.79,47706.92,45462.17,46827.85,32629.21
Revenue From Operations [Net],89373.34,92896.08,81700.00,75459.11,75518.33
Total Operating Revenues,96080.34,99546.89,85862.44,78411.21,78007.63
Other Income,6105.40,5873.73,4658.32,5324.21,5940.58
Total Revenue,102185.74,105420.62,90520.76,83735.42,83948.21
EXPENSES,NaN,NaN,NaN,NaN,NaN
Cost Of Materials Consumed,9552.78,9774.51,9345.99,9514.97,9530.30
Operating And Direct Expenses,19453.42,19895.59,12766.97,12303.03,11128.42
Employee Benefit Expenses,39384.08,38770.10,42633.60,33522.88,30126.78
Finance Costs,502.92,275.04,431.79,409.18,386.16
Depreciation And Amortisation Expenses,3450.84,3450.36,3066.38,2906.75,2825.91
Other Expenses,6604.19,5157.60,9496.94,9538.71,9070.49
Total Expenses,78113.25,78295.16,79794.32,69289.09,62508.41
"Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax",24072.49,27125.46,10726.44,14446.33,21439.80
Exceptional Items,0.00,0.00,0.00,0.00,0.00
Profit/Loss Before Tax,24072.49,27125.46,10726.44,14446.33,21439.80
Tax Expenses-Continued Operations,NaN,NaN,NaN,NaN,NaN
Current Tax,6139.96,8887.44,3706.66,5164.79,7479.15
Less: MAT Credit Entitlement,-135.23,64.44,0.00,0.00,38.71
Deferred Tax,1098.58,1095.07,0.00,0.00,-118.50
Other Direct Taxes,0.00,0.00,0.00,0.00,0.00
Total Tax Expenses,7370.98,9662.45,3706.66,5164.79,7171.87
Profit/Loss After Tax And Before ExtraOrdinary Items,16701.51,17463.01,7019.78,9281.54,14267.93
Profit/Loss From Continuing Operations,16701.51,17463.01,7019.78,9281.54,14267.93
Profit/Loss For The Period,16701.51,17463.01,7019.78,9281.53,14267.92
Minority Interest,13.85,-0.33,0.12,0.25,0.04
Consolidated Profit/Loss After MI And Associates,16714.19,17461.85,7020.34,9280.02,14266.82
OTHER ADDITIONAL INFORMATION,NaN,NaN,NaN,NaN,NaN
EARNINGS PER SHARE,NaN,NaN,NaN,NaN,NaN
Basic EPS (Rs.),27.00,28.00,11.00,15.00,23.00
Diluted EPS (Rs.),27.00,28.00,11.00,15.00,23.00
DIVIDEND AND DIVIDEND PERCENTAGE,NaN,NaN,NaN,NaN,NaN
Equity Share Dividend,7395.27,8105.58,10242.24,12352.76,17306.84
Tax On Dividend,2282.08,1833.86,2081.57,2750.36,3523.31

## Getting the dividend information

In [10]:
dividend_df = dl.get_dividend_history(nse_ticker)

Retrieving stock data from trendlyne https://trendlyne.com/member/api/ac_snames/stock/?term=COALINDIA
Dataframe fetched
Formatting the dataframe

In [11]:
dividend_df

         Dividend Amount
Ex-Date
2011                3.90
2012               10.00
2013               14.00
2014               29.00
2015               20.70
2016               27.40
2017               19.90
2018               23.75
2019                5.85
2020               19.50
2021                5.00

#  WACC calculation using GORDON Dividend Model

## Step 1 : Calculate Cost of Equity/Return on Equity

In [12]:
roe = wacc.calculate_roe_dividendModel(dividend_df,current_share_price)

Checking if calculation of roe via Gordon method is possible
The company has been giving dividend for the last 11 years continously.Going ahead with determining roe by Dividend model
Dividend Amount      58.309152
Percentage Change          NaN
Name: 2026, dtype: float64

In [16]:
roe

Dividend Amount      58.309152
Percentage Change          NaN
Name: 2026, dtype: float64